<div class="mt-4">
  
     <form class='form-outline home-search'>
            <input
                class='form-control mr-sm-2'
                name='q'
                type='search'
                placeholder='Search'
                aria-label='Search'
            />
            <button
                class='btn btn-outline-success mr-sm-2'
                type='submit'
            >Search</button>
        </form>
    <div class="row">
    {{#each courses}}
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card" >
                <a href="/courses/{{this.slug}}">
                <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
            <div class="card-body">
                <a href="/courses/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                </a>
                <p class="card-text">{{this.description}}</p>
                <a href="#" class="btn btn-primary">Mua Khóa Học</a>
            </div>
            </div>
        </div>
        {{else}}
         <div class="col-sm-12 col-lg-12 mb-5 ">
                <p class="text-center">Bạn chưa có khóa học nào</p>
                <a href="/courses/create"  class="btn btn-info" style="display: block">Tạo Khóa Học Ngay</a>
        </div>
                {{/each}}
    </div>
</div>
