<form class="mt-4" name="container-form"  method="POST" action="/courses/handle-form-actions">
  <div>
       <h3>KHÓA HỌC CỦA TÔI</h3>
      <div class="d-flex justify-content-between" >
         <a href="/me/trash/courses" class="position-relative text-decoration-none">
          <img src="https://cdn-icons-png.flaticon.com/512/1397/1397245.png" alt="" class="btn-img-1">
          <span class="position-absolute top-0 start-100 translate-middle badge  px-2 rounded-pill  bg-danger text-white">
            <span class="visually-hidden">{{deleteCount}} </span>
          </span>
        </a>

       <a href="/courses/create" class="text-decoration-none">
          <span class="btn btn-info">Create Course</span>
          <img src="https://cdn.pixabay.com/photo/2017/06/10/07/18/list-2389219_960_720.png" alt="" class="btn-img-1">
        </a>
      </div>

      <div class="mt-4 d-flex align-items-center">
          <div class="form-check ">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
              Chọn Tất Cả
            </label>
          </div>

            <select class="form-control form-control-sm form-select-all-options" name="action" required>
              <option value="">-- Chọn Hành Động --</option>

              <option value="delete">Xóa</option>
            </select>

          <button type="submit" class="btn btn-outline-primary btn-sm" id="check-all-submit-btn" disabled >Thực Hiện</button>
      </div>
  </div>

<table class="table table-hover mt-4">
        <thead>
            <tr>
            <th></th>
            <th style="width: 2%">#</th>
            <th style="width: 20%">Course Name
              {{{sortable 'name' _sort}}}
            </th>
            <th style="width: 10%">VideoId
                {{{sortable 'videoId' _sort}}}
            </th>
            <th style="width: 10%">Level
                {{{sortable 'level' _sort}}}
            </th>
            <th style="width: 20%">Created Time
                {{{sortable 'createdAt' _sort}}}</th>
            <th style="width: 20%">Updated Time
                {{{sortable 'updatedAt' _sort}}}</th>
            <th style="width: 18%">Tools
            </th>
            </tr>
        </thead>
        <tbody >
      {{#each courses}}
            <tr>
            <td> <div class="form-check ">
              <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" >
              </div>
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.videoId}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.updatedAt}}</td>
            <td>
                <a href="/courses/{{this._id}}/edit" class="btn btn-outline-success">Edit</a>
                <a href="" class="btn btn-outline-danger" data-toggle="modal" data-id="{{this._id}}" data-name="{{this.name}}" data-target="#delete-course-modal">Delete</a>
            </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="7" class="text-center"> 
              Bạn chưa đăng khóa học nào.
              <a href="/courses/create">Đăng Khóa Học</a>
            </td>
          </tr
          {{/each}}
        </tbody>
        </table>
</form>

{{!-- Modal Confirm Alert  --}}

<!-- Modal -->
<div class="modal" id="delete-course-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Khóa Học</h5>
        <button type="button" class="btn-close" data-dismiss="modal"  aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này : </p>
        <h4 id="confirm-message"></h4>
      </div>
      <div class="modal-footer">
           <button  id="btn-delete-course"  type="button" class="btn btn-outline-danger">Delete</button>
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hiden form --}}
 <form method="POST" name="delete-course-form"></form>

 {{!-- Js get id an submit delete with id --}}
<script>
      document.addEventListener('DOMContentLoaded', function() {
      var courseId
      var courseName
      var deleteForm = document.forms['delete-course-form']
      var containerForm = document.forms['container-form']
      var btnDeleteCourse = document.getElementById('btn-delete-course')
      var checkboxAll = $('#checkbox-all')
      var courseItemCheckbox = $('input[name="courseIds[]"]')
      var checkAllSubmitBtn = $('#check-all-submit-btn')
    // When dialog confirm show
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      courseId = button.data('id')
      courseName= button.data('name')
      document.getElementById("confirm-message").innerHTML = ''+courseName
      console.log(courseName)
     })

// When delete course btn click
      btnDeleteCourse.onclick = function (){
        deleteForm.action = '/courses/'+courseId+'?_method=DELETE';
        deleteForm.submit()
      }
 // Listener changed all
      checkboxAll.change(function() {
        var isCheckedAll = $(this).prop('checked')
          courseItemCheckbox.prop('checked',isCheckedAll)
          renderCheckAllSubmitBtn()
      })
 // Listener changed Item
      courseItemCheckbox.change(function(){
       var isCheckedAllItem = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
       checkboxAll.prop('checked',isCheckedAllItem)
       renderCheckAllSubmitBtn()
      })



// show btn Excuted

    function renderCheckAllSubmitBtn() {
      var checkCount = $('input[name="courseIds[]"]:checked').length
      if (checkCount > 0) {
          checkAllSubmitBtn.attr('disabled',false)
      } else checkAllSubmitBtn.attr('disabled',true)
    }

  })

</script>