<div class="mt-4">
   <div>
     <a href="/me/stored/courses">
     <img src="https://w7.pngwing.com/pngs/1015/257/png-transparent-computer-icons-icon-design-back-miscellaneous-angle-text-thumbnail.png" alt="" class="btn-img">
     </a>
     <h3>DANH SÁCH KHÓA HỌC ĐÃ XÓA</h3>
   </div>

<table class="table table-hover mt-4">
        <thead>
            <tr>
            <th style="width: 2%">#</th>
            <th style="width: 20%">Course Name</th>
            <th >VideoId</th>
            <th >Lever</th>
            <th >Delete Time</th>
            <th style="width: 20% ">Tools</th>
            </tr>
        </thead>
        <tbody >
      {{#each courses}}
            <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.videoId}}</td>
            <td>{{this.level}}</td>
            <td>{{this.deletedAt}}</td>
            <td>
                <a href="" class="btn btn-outline-success btn-restore" data-id="{{this._id}}">Restore</a>
                <a href="" class="btn btn-outline-danger" data-toggle="modal" data-id="{{this._id}}" data-name="{{this.name}}" data-target="#delete-course-modal">Force Delete</a>
            </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="7" class="text-center"> 
             Chưa có khóa học nào được Xóa
              <a href="/me/stored/courses">Danh sách khóa học</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
        </table>
</div>

{{!-- Modal Confirm Alert  --}}

<!-- Modal -->
<div class="modal" id="delete-course-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Khóa Học</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này : </p>
        <h4 id="confirm-message"></h4>
      </div>
      <div class="modal-footer">
           <button  id="btn-delete-course"  type="button" class="btn btn-outline-danger">Force Delete</button>
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 <form method="POST" name="delete-course-form"></form>
 <form method="POST" name="restore-course-form"></form>

 {{!-- Js get id an submit delete with id --}}
<script>
      document.addEventListener('DOMContentLoaded', function() {
      var courseId
      var courseName
      var deleteForm = document.forms['delete-course-form']
      var restoreForm = document.forms['restore-course-form']
      var btnDeleteCourse = document.getElementById('btn-delete-course')
      var restoreBtn = $('.btn-restore')

    // When dialog confirm show
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      courseId = button.data('id')
      courseName= button.data('name')
      document.getElementById("confirm-message").innerHTML = courseName
      console.log(courseName)
     })

// When delete course btn click
      btnDeleteCourse.onclick = function (){
        deleteForm.action = '/courses/'+courseId+'/force?_method=DELETE';
        deleteForm.submit()
      }

       //Restore btn click
      restoreBtn.click(function(event){
          event.preventDefault()
          var courseId = $(this).data('id')
          console.log(courseId)
          restoreForm.action = '/courses/'+courseId+'/restore?_method=PATCH';
          restoreForm.submit()
      })

  })
   
         

</script>